<mat-drawer-container [autosize]="true" class="min-h-full max-w-7xl mx-auto border-x">
  <mat-drawer mode="side" opened class="p-6 border-l">
    <app-filters (showCategory)="onShowCategory($event)"></app-filters>
  </mat-drawer>
  <mat-drawer-content class="p-6">
    <app-products-header (columnsCountChange)="onColumnsCountChange($event)" (sortChange)="onSortChange($event)">
      <!-- (itemsCountChange)="onItemsCountChange($event)" -->
    </app-products-header>
    <mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
      <mat-grid-tile *ngFor="let product of products">
        <app-product-box [product]="product" class="w-full" [fullWidthMode]="cols === 1" (addToCart)="onAddToCard($event)"> </app-product-box>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent($event)" [showFirstLastButtons]="true"></mat-paginator>
  </mat-drawer-content>
</mat-drawer-container>
