<mat-drawer-container [autosize]="true" class="min-h-full max-w-7xl mx-auto border-x">
  <mat-card class="max-w-7xl mx-auto">
    <table mat-table [dataSource]="dataSource" class="mat-elevetaion-z8 w-full">
      // Các cột
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef>Sản phẩm</th>
        //Head //Cell
        <td mat-cell *matCellDef="let element">
          <img src="{{ element.product }}" alt="product" class="my-5 w-16" />
        </td>
        //Footer
        <td mat-footer-cell *matFooterCellDef>
          <!-- <button mat-raised-button routerLink="/home">Tiếp tục mua sắm</button> -->
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Tên sản phẩm</th>
        <td mat-cell *matCellDef="let element">
          <span class="truncate max-w-xs block">{{ element.name }}</span>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Đơn giá</th>
        <td mat-cell *matCellDef="let element">
          {{ element.price | currency }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Số lượng</th>
        <td mat-cell *matCellDef="let element">
          <span>
            {{ element.quantity }}
          </span>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Tổng cộng</th>
        <td mat-cell *matCellDef="let element">
          {{ element.quantity * element.price | currency }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <span class="font-bold py-5 block"> {{ getTotal(cart.items) | currency }} </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"></td>
        <td mat-footer-cell *matFooterCellDef>
          <!-- <button mat-raised-button color="primary" class="float-right" (click)="onPlaceOrder()">Đặt hàng</button> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      // Định nghĩa dòng tiêu đề
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      // Số lượng dòng
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  </mat-card>
  <div style="display: block; width: 100%; height: fit-content; padding-left: 15px; padding-top: 15px">
    <h1>Thông tin giao hàng</h1>
    <form #form="ngForm" (ngSubmit)="onPlaceOrder()">
      <div class="form-group">
        <label for="name">Người nhận</label>
        <input type="text" class="form-control" id="name" aria-describedby="name" name="name" placeholder="Enter name" [(ngModel)]="orderRequest.customerRequest.name" />
      </div>
      <div class="form-group">
        <label for="phone">Số điện thoại</label>
        <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" [(ngModel)]="orderRequest.customerRequest.phoneNumber" />
      </div>
      <br />
      <div class="form-group">
        <label for="address">Địa chỉ giao hàng</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Số Nhà" [(ngModel)]="noNumber" />
        <input type="text" class="form-control" id="street" name="street" placeholder="Tên đường" [(ngModel)]="streetName" />
      </div>
      <select class="form-select" name="province" (change)="onProvinceChange()" [(ngModel)]="code">
        <option value="0" selected>Chọn Tỉnh Thành</option>
        <option *ngFor="let p of province" [value]="p.code">{{ p.name }}</option>
      </select>
      <select class="form-select" (change)="onDistrictChange()" name="district" [(ngModel)]="districtCode">
        <option value="0" selected>Chọn Quận huyện</option>
        <option *ngFor="let d of districts" [value]="d.code">{{ d.name }}</option>
      </select>
      <select class="form-select" name="wards" (change)="onWardChange()" [(ngModel)]="wardCode">
        <option value="0" selected>Chọn Phường Xã</option>
        <option *ngFor="let w of wards" [value]="w.code">{{ w.name }}</option>
      </select>
      <button type="submit" class="btn btn-primary my-6">Đặt hàng</button>
    </form>
  </div>
</mat-drawer-container>
